body{
    display: grid;
    grid-template-areas: 'h h'
                         'm m'
                         'a a'
                         'f f';
    grid-template-columns: auto auto;
    margin: 0;
    gap: 15px;
    padding: 10px;
    background-color: rgb(66, 66, 66);
}

p{
    color: #fff;
}

.h{
    grid-area: h;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(121, 121, 121);
    border-radius: 8px;
}

#aaa{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.m{
    grid-area: m;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(121, 121, 121);
    border-radius: 8px;
}

.lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista ol{
    padding-left: 0;
    list-style-position: inside;
    text-align: center;
}

.tab{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto;
    border: 1px solid #fff;
    gap: 8px;
}

.cons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a{
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(121, 121, 121);
    border-radius: 8px;
}

.proy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proy2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.f{
    grid-area: f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(121, 121, 121);
    border-radius: 8px;
}

.for{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.f2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(min-width: 1024px){
    body{
        display: grid;
        grid-template-areas: 'h h'
                             'm a'
                             'f f';
        grid-template-columns: 2fr 1fr;
        margin: 0;
        gap: 15px;
        padding: 10px;
        height: 97vh;

        background-color: rgb(66, 66, 66);
    }
    
    p{
        color: #fff;
    }
    
    .h{
        grid-area: h;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(121, 121, 121);
        border-radius: 8px;
    }
    
    #aaa{
        height: 200px;
        width: 200px;
        border-radius: 100%;
    }
    
    .m{
        grid-area: m;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(121, 121, 121);
        border-radius: 8px;
    }

    .trabajo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .tab{
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: auto auto;
        border: 1px solid #fff;
        gap: 8px;
    }

    .lista{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lista ol{
        padding-left: 0;
        list-style-position: inside;
        text-align: center;
    }

    .cons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .a{
        grid-area: a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(121, 121, 121);
        border-radius: 8px;
    }
    
    .proy{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .proy2{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .f{
        grid-area: f;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(121, 121, 121);
        border-radius: 8px;
    }
    
    .for{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .f1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .f2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /*No supe que agregarle al formato de escritorio así que solo le cambié como se veria*/
}