nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.moveNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
}

.im{
    display: flex;
    justify-content: center;
    height: 50px;
}

.contBoton{
    display: flex;
    justify-content: center;
}