main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pr{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.in{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.tam{
    height: 250px;
}