body{
    background-color: #454545;
}

p{
    color: #E3E3E3;
}

#contenido{
    display: grid;
    grid-template-areas: 'h h h'
                         'l m r'
                         'f f f';
    grid-template-columns: 1fr 2fr 1fr;
    gap: 8px;
    margin: 0;
}

.h{
    grid-area: h;
    display: flex;
    flex-direction: row;
    height: 75px;
    background-color: #5E83FF;
    width: 100%;
    border-radius: 8px;
}

.der{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    width: 50%;
}

.izq{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
    gap: 5px;
    width: 50%;
}

.l{
    grid-area: l;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8e8e8e;
    gap: 8px;
    border-radius: 8px;
}

.var{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #2C8BDB;
    width: 90%;
    border-radius: 8px;
}

.cons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #2c8cdb5d;
    width: 90%;
    border-radius: 8px;
}


.m{
    grid-area: m;
    display: flex;
    flex-direction: row;
    background-color: #6B6B6B;
    height: 750px;
    border-radius: 8px;
}

.iz2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    width: 60%;
    gap: 10px;
    border-radius: 8px;
}

.de2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    width: 40%;
    border-radius: 8px;
}

.pri{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #999999;
    width: 90%;
    height: 25%;
    border-radius: 8px;
}

.pri2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.pri3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.r{
    grid-area: r;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8e8e8e;
    border-radius: 8px;
}

.r1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.col{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.ins{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
}


.f{
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #6B6B6B;
    height: 75px;
    border-radius: 8px;
}